@model ForgetPassswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div asp-validation-summary="All" class=" alert alert-danger"> </div>

	<div class="agileits-top">
		<form asp-action="ResetPasswordUrl">


			<br />
			<label asp-for="Email" class="col-form-label"> </label>
			<input class="text m-2" asp-for="Email" placeholder="Email">
			<br />
			<input type="submit" value="Reset Password">
		</form>

	</div>
</div>

